In [19]:
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

#engine = create_engine('sqlite:///C:/Users/8135t/Desktop/Project2-WaterWorld/waterdb.sqlite', echo=False)

In [82]:
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [24]:
engine = create_engine('sqlite:///C:/Users/8135t/Desktop/Project2-WaterWorld/tao-branch/db/waterdb.sqlite', echo=False)

In [25]:
inspector = inspect(engine)
inspector.get_table_names()

['Aquastat_table', 'WQI_table']

In [26]:
columns = inspector.get_columns('Aquastat_table')
for column in columns:
    print(column["name"], column["type"])

index INTEGER
country VARCHAR(30)
Variable VARCHAR(40)
Year INTEGER
Value FLOAT
unit VARCHAR(10)
iso VARCHAR(20)

In [27]:
another_columns = inspector.get_columns('WQI_table')
for column in another_columns:
    print(column["name"], column["type"])

index INTEGER
iso VARCHAR(20)
country VARCHAR(30)
H2O_current FLOAT

In [28]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [29]:
Base.classes.keys()

['Aquastat_table', 'WQI_table']

In [30]:
WQI_table = Base.classes.WQI_table
Aquastat_table = Base.classes.Aquastat_table

In [7]:
session = Session(engine)

In [31]:
results = session.query(WQITable.iso, WQITable.country, WQITable.H2O_current).limit(10).all()

In [32]:
for result in results:
    print(result)

('AFG', 'Afghanistan', 25.75)
('ALB', 'Albania', 66.56)
('DZA', 'Algeria', 60.26)
('AGO', 'Angola', 9.2)
('ATG', 'Antigua and Barbuda', 53.33)
('ARG', 'Argentina', 73.07)
('ARM', 'Armenia', 61.94)
('AUS', 'Australia', 98.44)
('AUT', 'Austria', 94.63)
('AZE', 'Azerbaijan', 48.53)

In [35]:
aqua_results = session.query(Aquastat_table.country, Aquastat_table.Variable,
                             Aquastat_table.Year, Aquastat_table.Value,
                             Aquastat_table.unit, Aquastat_table.iso).limit(30).all()

In [37]:
# for result in aqua_results:
#     print(result)

In [38]:
stmt = session.query(Aquastat_table).statement

In [41]:
import pandas as pd

In [42]:
aqua_df = pd.read_sql_query(stmt, session.bind)

In [49]:
stmt_wqi = session.query(WQI_table).statement

In [50]:
wqi_df = pd.read_sql_query(stmt_wqi, session.bind)

In [186]:
list(aqua_df.iso.unique())

['AFG',
 'ALB',
 'DZA',
 'AND',
 'AGO',
 'ATG',
 'ARG',
 'ARM',
 'AUS',
 'AUT',
 'AZE',
 'BHS',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLZ',
 'BEN',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'CPV',
 'KHM',
 'CMR',
 'CAN',
 'CAF',
 'TCD',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COG',
 'COK',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CYP',
 'CZE',
 'PRK',
 'COD',
 'DNK',
 'DJI',
 'DMA',
 'DOM',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'SWZ',
 'ETH',
 'FRO',
 'FJI',
 'FIN',
 'FRA',
 'GAB',
 'GMB',
 'GEO',
 'DEU',
 'GHA',
 'GRC',
 'GRD',
 'GTM',
 'GIN',
 'GNB',
 'GUY',
 'HTI',
 'VAT',
 'HND',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'KWT',
 'KGZ',
 'LAO',
 'LVA',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LIE',
 'LTU',
 'LUX',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MHL',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MCO',
 'MNG',
 'MNE',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NRU',
 'NPL',
 'NLD',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'NIU',
 'NOR',
 'PSE',
 'OMN',
 'PAK',
 'PLW',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'PRI',
 'QAT',
 'KOR',
 'MDA',
 'ROU',
 'RUS',
 'RWA',
 'KNA',
 'LCA',
 'VCT',
 'WSM',
 'SMR',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SGP',
 'SVK',
 'SVN',
 'SLB',
 'SOM',
 'ZAF',
 'SSD',
 'ESP',
 'LKA',
 'SDN',
 'SUR',
 'SWE',
 'CHE',
 'SYR',
 'TJK',
 'THA',
 'MKD',
 'TLS',
 'TGO',
 'TKL',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'TUV',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'TZA',
 'USA',
 'URY',
 'UZB',
 'VUT',
 'VEN',
 'VNM',
 'YEM',
 'ZMB',
 'ZWE']

In [89]:
sel = [
        Aquastat_table.country,
        Aquastat_table.Variable,
        Aquastat_table.Year,
        Aquastat_table.Value,
        Aquastat_table.unit,
        Aquastat_table.iso,
    ]

In [101]:
afg_stmt = session.query(*sel).filter(Aquastat_table.iso == 'AFG').statement

In [103]:
afg_df = pd.read_sql_query(afg_stmt,session.bind)

In [179]:
afg_df

,country,Variable,Year,Value,unit,iso
0,Afghanistan,Total population,1962,9344.00,E,AFG
1,Afghanistan,Total population,1967,10369.00,E,AFG
2,Afghanistan,Total population,1972,11717.00,E,AFG
3,Afghanistan,Total population,1977,13056.00,E,AFG
4,Afghanistan,Total population,1982,12667.00,E,AFG
5,Afghanistan,Total population,1987,11338.00,E,AFG
6,Afghanistan,Total population,1992,13746.00,E,AFG
7,Afghanistan,Total population,1997,18034.00,E,AFG
8,Afghanistan,Total population,2002,21487.00,E,AFG
9,Afghanistan,Total population,2007,25878.00,E,AFG
10,Afghanistan,Total population,2012,29727.00,E,AFG
11,Afghanistan,Total population,2015,32527.00,E,AFG
12,Afghanistan,Urban population,1962,804.90,E,AFG
13,Afghanistan,Urban population,1967,1066.00,E,AFG
14,Afghanistan,Urban population,1972,1434.00,E,AFG
15,Afghanistan,Urban population,1977,1888.00,E,AFG
16,Afghanistan,Urban population,1982,2045.00,E,AFG
17,Afghanistan,Urban population,1987,1935.00,E,AFG
18,Afghanistan,Urban population,1992,2608.00,E,AFG
19,Afghanistan,Urban population,1997,3872.00,E,AFG
20,Afghanistan,Urban population,2002,4866.00,E,AFG
21,Afghanistan,Urban population,2007,6215.00,E,AFG
22,Afghanistan,Urban population,2012,7596.00,E,AFG
23,Afghanistan,Urban population,2015,8547.00,E,AFG
24,Afghanistan,Population density,1962,14.31,E,AFG
25,Afghanistan,Population density,1967,15.88,E,AFG
26,Afghanistan,Population density,1972,17.95,E,AFG
27,Afghanistan,Population density,1977,20.00,E,AFG
28,Afghanistan,Population density,1982,19.40,E,AFG
29,Afghanistan,Population density,1987,17.37,E,AFG
30,Afghanistan,Population density,1992,21.06,E,AFG
31,Afghanistan,Population density,1997,27.62,E,AFG
32,Afghanistan,Population density,2002,32.91,E,AFG
33,Afghanistan,Population density,2007,39.64,E,AFG
34,Afghanistan,Population density,2012,45.53,E,AFG
35,Afghanistan,Population density,2015,49.82,E,AFG
36,Afghanistan,Total population with access to safe drinking-...,1992,21.30,E,AFG
37,Afghanistan,Total population with access to safe drinking-...,1997,25.00,E,AFG
38,Afghanistan,Total population with access to safe drinking-...,2002,33.80,E,AFG
39,Afghanistan,Total population with access to safe drinking-...,2007,42.60,E,AFG
40,Afghanistan,Total population with access to safe drinking-...,2012,51.60,E,AFG
41,Afghanistan,Total population with access to safe drinking-...,2015,55.30,E,AFG
42,Afghanistan,Rural population with access to safe drinking-...,1992,16.20,E,AFG
43,Afghanistan,Rural population with access to safe drinking-...,1997,19.50,E,AFG
44,Afghanistan,Rural population with access to safe drinking-...,2002,27.60,E,AFG
45,Afghanistan,Rural population with access to safe drinking-...,2007,35.60,E,AFG
46,Afghanistan,Rural population with access to safe drinking-...,2012,43.70,E,AFG
47,Afghanistan,Rural population with access to safe drinking-...,2015,47.00,E,AFG
48,Afghanistan,Urban population with access to safe drinking-...,1992,43.00,E,AFG
49,Afghanistan,Urban population with access to safe drinking-...,1997,46.70,E,AFG
50,Afghanistan,Urban population with access to safe drinking-...,2002,55.90,E,AFG
51,Afghanistan,Urban population with access to safe drinking-...,2007,65.20,E,AFG
52,Afghanistan,Urban population with access to safe drinking-...,2012,74.50,E,AFG
53,Afghanistan,Urban population with access to safe drinking-...,2015,78.20,E,AFG

In [176]:
sample_dict={}
sample_dict['country']=afg_df['country'].iloc[0]
sample_dict['iso']=afg_df['iso'].iloc[0]

for stuff, stuff2 in afg_df.groupby(['country','Variable'],as_index=True):
#     print(f'{stuff[0]} and {stuff[1]}')
    data={}
    data['Year'] = list(stuff2.Year)
    data['Value'] = list(stuff2.Value)
#     print('----------------------------')
#     print(list(stuff2.Year))
#     print(list(stuff2.Value))
#     print('############################')
    sample_dict[stuff[1]]=data

In [177]:
sample_dict

{'country': 'Afghanistan',
 'iso': 'AFG',
 'Population density': {'Year': [1962,
   1967,
   1972,
   1977,
   1982,
   1987,
   1992,
   1997,
   2002,
   2007,
   2012,
   2015],
  'Value': [14.31,
   15.88,
   17.95,
   20.0,
   19.4,
   17.37,
   21.06,
   27.62,
   32.91,
   39.64,
   45.53,
   49.82]},
 'Rural population with access to safe drinking-water (JMP)': {'Year': [1992,
   1997,
   2002,
   2007,
   2012,
   2015],
  'Value': [16.2, 19.5, 27.6, 35.6, 43.7, 47.0]},
 'Total population': {'Year': [1962,
   1967,
   1972,
   1977,
   1982,
   1987,
   1992,
   1997,
   2002,
   2007,
   2012,
   2015],
  'Value': [9344.0,
   10369.0,
   11717.0,
   13056.0,
   12667.0,
   11338.0,
   13746.0,
   18034.0,
   21487.0,
   25878.0,
   29727.0,
   32527.0]},
 'Total population with access to safe drinking-water (JMP)': {'Year': [1992,
   1997,
   2002,
   2007,
   2012,
   2015],
  'Value': [21.3, 25.0, 33.8, 42.6, 51.6, 55.3]},
 'Urban population': {'Year': [1962,
   1967,
   1972,
   1977,
   1982,
   1987,
   1992,
   1997,
   2002,
   2007,
   2012,
   2015],
  'Value': [804.9,
   1066.0,
   1434.0,
   1888.0,
   2045.0,
   1935.0,
   2608.0,
   3872.0,
   4866.0,
   6215.0,
   7596.0,
   8547.0]},
 'Urban population with access to safe drinking-water (JMP)': {'Year': [1992,
   1997,
   2002,
   2007,
   2012,
   2015],
  'Value': [43.0, 46.7, 55.9, 65.2, 74.5, 78.2]}}

In [146]:
afg_df.groupby(['country','Variable'])['Value'].count()

country      Variable
Afghanistan  Population density                                           12
             Rural population with access to safe drinking-water (JMP)     6
             Total population                                             12
             Total population with access to safe drinking-water (JMP)     6
             Urban population                                             12
             Urban population with access to safe drinking-water (JMP)     6
Name: Value, dtype: int64

In [100]:
afg_meta_data = {}
for result in afg_results:
    print(result)

('Afghanistan', 'Total population', 1962, 9344.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1967, 10369.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1972, 11717.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1977, 13056.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1982, 12667.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1987, 11338.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1992, 13746.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1997, 18034.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2002, 21487.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2007, 25878.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2012, 29727.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2015, 32527.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1962, 804.9, 'E', 'AFG')
('Afghanistan', 'Urban population', 1967, 1066.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1972, 1434.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1977, 1888.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1982, 2045.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1987, 1935.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1992, 2608.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 1997, 3872.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 2002, 4866.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 2007, 6215.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 2012, 7596.0, 'E', 'AFG')
('Afghanistan', 'Urban population', 2015, 8547.0, 'E', 'AFG')
('Afghanistan', 'Population density', 1962, 14.31, 'E', 'AFG')
('Afghanistan', 'Population density', 1967, 15.88, 'E', 'AFG')
('Afghanistan', 'Population density', 1972, 17.95, 'E', 'AFG')
('Afghanistan', 'Population density', 1977, 20.0, 'E', 'AFG')
('Afghanistan', 'Population density', 1982, 19.4, 'E', 'AFG')
('Afghanistan', 'Population density', 1987, 17.37, 'E', 'AFG')
('Afghanistan', 'Population density', 1992, 21.06, 'E', 'AFG')
('Afghanistan', 'Population density', 1997, 27.62, 'E', 'AFG')
('Afghanistan', 'Population density', 2002, 32.91, 'E', 'AFG')
('Afghanistan', 'Population density', 2007, 39.64, 'E', 'AFG')
('Afghanistan', 'Population density', 2012, 45.53, 'E', 'AFG')
('Afghanistan', 'Population density', 2015, 49.82, 'E', 'AFG')
('Afghanistan', 'Total population with access to safe drinking-water (JMP)', 1992, 21.3, 'E', 'AFG')
('Afghanistan', 'Total population with access to safe drinking-water (JMP)', 1997, 25.0, 'E', 'AFG')
('Afghanistan', 'Total population with access to safe drinking-water (JMP)', 2002, 33.8, 'E', 'AFG')
('Afghanistan', 'Total population with access to safe drinking-water (JMP)', 2007, 42.6, 'E', 'AFG')
('Afghanistan', 'Total population with access to safe drinking-water (JMP)', 2012, 51.6, 'E', 'AFG')
('Afghanistan', 'Total population with access to safe drinking-water (JMP)', 2015, 55.3, 'E', 'AFG')
('Afghanistan', 'Rural population with access to safe drinking-water (JMP)', 1992, 16.2, 'E', 'AFG')
('Afghanistan', 'Rural population with access to safe drinking-water (JMP)', 1997, 19.5, 'E', 'AFG')
('Afghanistan', 'Rural population with access to safe drinking-water (JMP)', 2002, 27.6, 'E', 'AFG')
('Afghanistan', 'Rural population with access to safe drinking-water (JMP)', 2007, 35.6, 'E', 'AFG')
('Afghanistan', 'Rural population with access to safe drinking-water (JMP)', 2012, 43.7, 'E', 'AFG')
('Afghanistan', 'Rural population with access to safe drinking-water (JMP)', 2015, 47.0, 'E', 'AFG')
('Afghanistan', 'Urban population with access to safe drinking-water (JMP)', 1992, 43.0, 'E', 'AFG')
('Afghanistan', 'Urban population with access to safe drinking-water (JMP)', 1997, 46.7, 'E', 'AFG')
('Afghanistan', 'Urban population with access to safe drinking-water (JMP)', 2002, 55.9, 'E', 'AFG')
('Afghanistan', 'Urban population with access to safe drinking-water (JMP)', 2007, 65.2, 'E', 'AFG')
('Afghanistan', 'Urban population with access to safe drinking-water (JMP)', 2012, 74.5, 'E', 'AFG')
('Afghanistan', 'Urban population with access to safe drinking-water (JMP)', 2015, 78.2, 'E', 'AFG')

In [99]:
for result in afg_results:
    if result[1]=='Total population':
        print(result)

('Afghanistan', 'Total population', 1962, 9344.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1967, 10369.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1972, 11717.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1977, 13056.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1982, 12667.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1987, 11338.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1992, 13746.0, 'E', 'AFG')
('Afghanistan', 'Total population', 1997, 18034.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2002, 21487.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2007, 25878.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2012, 29727.0, 'E', 'AFG')
('Afghanistan', 'Total population', 2015, 32527.0, 'E', 'AFG')

In [80]:
for isso in (set(aqua_df.iso)-set(wqi_df.iso)):
    print(aqua_df.loc[aqua_df['iso']==isso]['country'].iloc[0])
    print(aqua_df.loc[aqua_df['iso']==isso]['iso'].iloc[0])
    print('######################################################')

Yemen
YEM
######################################################
Tuvalu
TUV
######################################################
San Marino
SMR
######################################################
Saint Kitts and Nevis
KNA
######################################################
Syrian Arab Republic
SYR
######################################################
South Sudan
SSD
######################################################
Somalia
SOM
######################################################
Faroe Islands
FRO
######################################################
Democratic People's Republic of Korea
PRK
######################################################
Cook Islands
COK
######################################################
Holy See
VAT
######################################################
Monaco
MCO
######################################################
Liechtenstein
LIE
######################################################
Andorra
AND
######################################################
Puerto Rico
PRI
######################################################
Tokelau
TKL
######################################################
Occupied Palestinian Territory
PSE
######################################################
Marshall Islands
MHL
######################################################
Nauru
NRU
######################################################
Niue
NIU
######################################################
Palau
PLW
######################################################

In [45]:
engine.execute('SELECT * FROM WQITable LIMIT 10').fetchall()

[(0, 'AFG', 'Afghanistan', 25.75),
 (1, 'ALB', 'Albania', 66.56),
 (2, 'DZA', 'Algeria', 60.26),
 (3, 'AGO', 'Angola', 9.2),
 (4, 'ATG', 'Antigua and Barbuda', 53.33),
 (5, 'ARG', 'Argentina', 73.07),
 (6, 'ARM', 'Armenia', 61.94),
 (7, 'AUS', 'Australia', 98.44),
 (8, 'AUT', 'Austria', 94.63),
 (9, 'AZE', 'Azerbaijan', 48.53)]

In [33]:
engine.execute('SELECT * FROM AquastatTable LIMIT 10').fetchall()

[(0, 'Afghanistan', 'Total population', 1962, 9344.0, 'E', 'AFG'),
 (1, 'Afghanistan', 'Total population', 1967, 10369.0, 'E', 'AFG'),
 (2, 'Afghanistan', 'Total population', 1972, 11717.0, 'E', 'AFG'),
 (3, 'Afghanistan', 'Total population', 1977, 13056.0, 'E', 'AFG'),
 (4, 'Afghanistan', 'Total population', 1982, 12667.0, 'E', 'AFG'),
 (5, 'Afghanistan', 'Total population', 1987, 11338.0, 'E', 'AFG'),
 (6, 'Afghanistan', 'Total population', 1992, 13746.0, 'E', 'AFG'),
 (7, 'Afghanistan', 'Total population', 1997, 18034.0, 'E', 'AFG'),
 (8, 'Afghanistan', 'Total population', 2002, 21487.0, 'E', 'AFG'),
 (9, 'Afghanistan', 'Total population', 2007, 25878.0, 'E', 'AFG')]