In [78]:
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

engine = create_engine('sqlite:///C:/Users/8135t/Project2-WaterWorld/waterdb.sqlite', echo=False)

In [79]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [80]:
Base.classes.keys()

['Aquastat_table', 'WQI_table']

In [72]:
WQITable = Base.classes.WQITable

In [73]:
session = Session(engine)

In [76]:
results = session.query(WQITable.iso, WQITable.country, WQITable.H2O_current).all()

In [77]:
for result in results:
    print(result)

('AFG', 'Afghanistan', 25.75)
('ALB', 'Albania', 66.56)
('DZA', 'Algeria', 60.26)
('AGO', 'Angola', 9.2)
('ATG', 'Antigua and Barbuda', 53.33)
('ARG', 'Argentina', 73.07)
('ARM', 'Armenia', 61.94)
('AUS', 'Australia', 98.44)
('AUT', 'Austria', 94.63)
('AZE', 'Azerbaijan', 48.53)
('BHS', 'Bahamas', 55.4)
('BHR', 'Bahrain', 63.06)
('BGD', 'Bangladesh', 28.47)
('BRB', 'Barbados', 55.64)
('BLR', 'Belarus', 68.66)
('BEL', 'Belgium', 96.09)
('BLZ', 'Belize', 46.74)
('BEN', 'Benin', 6.37)
('BTN', 'Bhutan', 32.6)
('BOL', 'Bolivia', 44.57)
('BIH', 'Bosnia and Herzegovina', 71.54)
('BWA', 'Botswana', 21.8)
('BRA', 'Brazil', 45.91)
('BRN', 'Brunei Darussalam', 94.9)
('BGR', 'Bulgaria', 71.26)
('BFA', 'Burkina Faso', 8.45)
('BDI', 'Burundi', 0.86)
('KHM', 'Cambodia', 35.26)
('CMR', 'Cameroon', 13.45)
('CAN', 'Canada', 94.69)
('CPV', 'Cabo Verde', 40.66)
('CAF', 'Central African Republic', 0.0)
('TCD', 'Chad', 0.32)
('CHL', 'Chile', 79.61)
('CHN', 'China', 68.24)
('COL', 'Colombia', 59.96)
('COM', 'Comoros', 10.0)
('CRI', 'Costa Rica', 62.78)
('CIV', "CÃ´te d'Ivoire", 9.53)
('HRV', 'Croatia', 70.01)
('CUB', 'Cuba', 57.5)
('CYP', 'Cyprus', 92.35)
('CZE', 'Czech Republic', 69.98)
('COD', 'Dem. Rep. Congo', 10.01)
('DNK', 'Denmark', 97.78)
('DJI', 'Djibouti', 19.3)
('DMA', 'Dominica', 50.64)
('DOM', 'Dominican Republic', 42.4)
('ECU', 'Ecuador', 52.2)
('EGY', 'Egypt', 32.78)
('SLV', 'El Salvador', 42.34)
('GNQ', 'Equatorial Guinea', 31.89)
('ERI', 'Eritrea', 7.09)
('EST', 'Estonia', 58.45)
('ETH', 'Ethiopia', 9.35)
('FJI', 'Fiji', 39.93)
('FIN', 'Finland', 100.0)
('FRA', 'France', 97.22)
('GAB', 'Gabon', 22.23)
('GMB', 'Gambia', 16.8)
('GEO', 'Georgia', 59.93)
('DEU', 'Germany', 96.74)
('GHA', 'Ghana', 26.52)
('GRC', 'Greece', 100.0)
('GRD', 'Grenada', 48.26)
('GTM', 'Guatemala', 29.5)
('GIN', 'Guinea', 12.79)
('GNB', 'Guinea-Bissau', 10.01)
('GUY', 'Guyana', 38.67)
('HTI', 'Haiti', 15.45)
('HND', 'Honduras', 34.06)
('HUN', 'Hungary', 66.26)
('ISL', 'Iceland', 100.0)
('IND', 'India', 15.8)
('IDN', 'Indonesia', 31.41)
('IRN', 'Iran', 58.74)
('IRQ', 'Iraq', 41.05)
('IRL', 'Ireland', 100.0)
('ISR', 'Israel', 92.03)
('ITA', 'Italy', 100.0)
('JAM', 'Jamaica', 51.04)
('JPN', 'Japan', 96.6)
('JOR', 'Jordan', 68.82)
('KAZ', 'Kazakhstan', 62.89)
('KEN', 'Kenya', 0.63)
('KIR', 'Kiribati', 20.89)
('KWT', 'Kuwait', 65.79)
('KGZ', 'Kyrgyzstan', 44.74)
('LAO', 'Laos', 27.59)
('LVA', 'Latvia', 60.62)
('LBN', 'Lebanon', 60.31)
('LSO', 'Lesotho', 2.86)
('LBR', 'Liberia', 4.79)
('LBY', 'Libya', 54.93)
('LTU', 'Lithuania', 58.51)
('LUX', 'Luxembourg', 99.3)
('MKD', 'Macedonia', 69.16)
('MDG', 'Madagascar', 4.04)
('MWI', 'Malawi', 8.28)
('MYS', 'Malaysia', 63.0)
('MDV', 'Maldives', 57.62)
('MLI', 'Mali', 2.69)
('MLT', 'Malta', 100.0)
('MRT', 'Mauritania', 14.67)
('MUS', 'Mauritius', 61.05)
('MEX', 'Mexico', 57.58)
('FSM', 'Micronesia', 46.39)
('MDA', 'Moldova', 61.02)
('MNG', 'Mongolia', 60.54)
('MNE', 'Montenegro', 78.61)
('MAR', 'Morocco', 42.24)
('MOZ', 'Mozambique', 16.18)
('MMR', 'Myanmar', 31.76)
('NAM', 'Namibia', 15.5)
('NPL', 'Nepal', 23.54)
('NLD', 'Netherlands', 98.26)
('NZL', 'New Zealand', 93.37)
('NIC', 'Nicaragua', 41.96)
('NER', 'Niger', 2.44)
('NGA', 'Nigeria', 7.75)
('NOR', 'Norway', 99.65)
('OMN', 'Oman', 62.84)
('PAK', 'Pakistan', 20.02)
('PAN', 'Panama', 43.45)
('PNG', 'Papua New Guinea', 18.48)
('PRY', 'Paraguay', 44.96)
('PER', 'Peru', 50.38)
('PHL', 'Philippines', 42.86)
('POL', 'Poland', 69.23)
('PRT', 'Portugal', 93.59)
('QAT', 'Qatar', 72.9)
('COG', 'Republic of Congo', 10.26)
('ROU', 'Romania', 59.9)
('RUS', 'Russia', 63.93)
('RWA', 'Rwanda', 14.96)
('LCA', 'Saint Lucia', 47.79)
('VCT', 'Saint Vincent and the Grenadines', 47.25)
('WSM', 'Samoa', 49.92)
('STP', 'SÃ£o TomÃ© and PrÃ\xadncipe', 29.32)
('SAU', 'Saudi Arabia', 62.38)
('SEN', 'Senegal', 13.67)
('SRB', 'Serbia', 69.73)
('SYC', 'Seychelles', 58.28)
('SLE', 'Sierra Leone', 2.5)
('SGP', 'Singapore', 99.0)
('SVK', 'Slovakia', 69.62)
('SVN', 'Slovenia', 70.59)
('SLB', 'Solomon Islands', 28.02)
('ZAF', 'South Africa', 24.71)
('KOR', 'South Korea', 96.52)
('ESP', 'Spain', 100.0)
('LKA', 'Sri Lanka', 53.09)
('SDN', 'Sudan', 24.46)
('SUR', 'Suriname', 40.14)
('SWZ', 'Swaziland', 9.36)
('SWE', 'Sweden', 96.88)
('CHE', 'Switzerland', 99.99)
('TWN', 'Taiwan', 69.71)
('TJK', 'Tajikistan', 29.9)
('TZA', 'Tanzania', 11.8)
('THA', 'Thailand', 59.37)
('TLS', 'Timor-Leste', 22.86)
('TGO', 'Togo', 12.92)
('TON', 'Tonga', 46.97)
('TTO', 'Trinidad and Tobago', 56.29)
('TUN', 'Tunisia', 57.6)
('TUR', 'Turkey', 59.28)
('TKM', 'Turkmenistan', 45.96)
('UGA', 'Uganda', 13.1)
('UKR', 'Ukraine', 60.89)
('ARE', 'United Arab Emirates', 63.27)
('GBR', 'United Kingdom', 100.0)
('USA', 'United States of America', 90.92)
('URY', 'Uruguay', 83.37)
('UZB', 'Uzbekistan', 64.12)
('VUT', 'Vanuatu', 28.73)
('VEN', 'Venezuela', 50.39)
('VNM', 'Viet Nam', 53.92)
('ZMB', 'Zambia', 9.08)
('ZWE', 'Zimbabwe', 12.19)

In [42]:
#f = Base.classes.AquastatTable

In [43]:
for table in m.tables.values():
    print("#################")
    print(table.name)
    print("#################")
    for column in table.c:
        print(column.name)

#################
AquastatTable
#################
index
Country
Variable
Year
Value
unit
iso
#################
WQITable
#################
index
iso
country
H2O.current

In [17]:
from sqlalchemy import Table
WQI_table = Table('WQITable', m, autoload=True, autoload_with=engine)

In [27]:
WQI_table

Table('WQITable', MetaData(bind=None), Column('index', BIGINT(), table=<WQITable>), Column('iso', TEXT(), table=<WQITable>), Column('country', TEXT(), table=<WQITable>), Column('H2O.current', FLOAT(), table=<WQITable>), schema=None)

In [29]:
inspector = inspect(engine)
inspector.get_table_names()

['AquastatTable', 'WQITable']

In [45]:
engine.execute('SELECT * FROM WQITable LIMIT 10').fetchall()

[(0, 'AFG', 'Afghanistan', 25.75),
 (1, 'ALB', 'Albania', 66.56),
 (2, 'DZA', 'Algeria', 60.26),
 (3, 'AGO', 'Angola', 9.2),
 (4, 'ATG', 'Antigua and Barbuda', 53.33),
 (5, 'ARG', 'Argentina', 73.07),
 (6, 'ARM', 'Armenia', 61.94),
 (7, 'AUS', 'Australia', 98.44),
 (8, 'AUT', 'Austria', 94.63),
 (9, 'AZE', 'Azerbaijan', 48.53)]

In [33]:
engine.execute('SELECT * FROM AquastatTable LIMIT 10').fetchall()

[(0, 'Afghanistan', 'Total population', 1962, 9344.0, 'E', 'AFG'),
 (1, 'Afghanistan', 'Total population', 1967, 10369.0, 'E', 'AFG'),
 (2, 'Afghanistan', 'Total population', 1972, 11717.0, 'E', 'AFG'),
 (3, 'Afghanistan', 'Total population', 1977, 13056.0, 'E', 'AFG'),
 (4, 'Afghanistan', 'Total population', 1982, 12667.0, 'E', 'AFG'),
 (5, 'Afghanistan', 'Total population', 1987, 11338.0, 'E', 'AFG'),
 (6, 'Afghanistan', 'Total population', 1992, 13746.0, 'E', 'AFG'),
 (7, 'Afghanistan', 'Total population', 1997, 18034.0, 'E', 'AFG'),
 (8, 'Afghanistan', 'Total population', 2002, 21487.0, 'E', 'AFG'),
 (9, 'Afghanistan', 'Total population', 2007, 25878.0, 'E', 'AFG')]