In [128]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///C:/Users/k/Desktop/data viz/project#2/waterdb.sqlite', echo=False)

In [13]:
import pandas as pd

In [17]:
aquastat_data = pd.read_csv('aquastat (9).csv')
waterquality_data = pd.read_csv('epi2018scorescurrentbaselinev01.csv')

In [21]:
aquastat_data.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
AFG|Afghanistan,2.0,Total population,4104.0,1962.0,9344.0,E,NaN,NaN
AFG|Afghanistan,2.0,Total population,4104.0,1967.0,10369.0,E,NaN,NaN
AFG|Afghanistan,2.0,Total population,4104.0,1972.0,11717.0,E,NaN,NaN
AFG|Afghanistan,2.0,Total population,4104.0,1977.0,13056.0,E,NaN,NaN
AFG|Afghanistan,2.0,Total population,4104.0,1982.0,12667.0,E,NaN,NaN

In [95]:
WQ=waterquality_data.drop(columns=['code','EPI.current','EPI.baseline','HLT.current','HLT.baseline','AIR.current','AIR.baseline','DBT.current','DBT.baseline','DST.current','DST.baseline','DXT.current','DXT.baseline','WWT.current','WWT.baseline','SNM.current','SNM.baseline','H2O.baseline','HMT.current','HMT.baseline','ECO.current','ECO.baseline','BDH.current','BDH.baseline','MTR.current','MTR.baseline','DCT.current','DCT.baseline','DPT.current','DPT.baseline','DMT.current','DMT.baseline','DNT.current','DNT.baseline'])

In [112]:
WQI=waterquality_data.filter(['iso','country','H2O.current'], axis=1)

In [22]:
H2O_stat_df=pd.DataFrame(aquastat_data)
H2O_stat_df.reset_index()

,index,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
0,AFG|Afghanistan,2.0,Total population,4104.0,1962.0,9344.00,E,NaN,NaN
1,AFG|Afghanistan,2.0,Total population,4104.0,1967.0,10369.00,E,NaN,NaN
2,AFG|Afghanistan,2.0,Total population,4104.0,1972.0,11717.00,E,NaN,NaN
3,AFG|Afghanistan,2.0,Total population,4104.0,1977.0,13056.00,E,NaN,NaN
4,AFG|Afghanistan,2.0,Total population,4104.0,1982.0,12667.00,E,NaN,NaN
5,AFG|Afghanistan,2.0,Total population,4104.0,1987.0,11338.00,E,NaN,NaN
6,AFG|Afghanistan,2.0,Total population,4104.0,1992.0,13746.00,E,NaN,NaN
7,AFG|Afghanistan,2.0,Total population,4104.0,1997.0,18034.00,E,NaN,NaN
8,AFG|Afghanistan,2.0,Total population,4104.0,2002.0,21487.00,E,NaN,NaN
9,AFG|Afghanistan,2.0,Total population,4104.0,2007.0,25878.00,E,NaN,NaN
10,AFG|Afghanistan,2.0,Total population,4104.0,2012.0,29727.00,E,NaN,NaN
11,AFG|Afghanistan,2.0,Total population,4104.0,2015.0,32527.00,E,NaN,NaN
12,AFG|Afghanistan,2.0,Urban population,4106.0,1962.0,804.90,E,NaN,NaN
13,AFG|Afghanistan,2.0,Urban population,4106.0,1967.0,1066.00,E,NaN,NaN
14,AFG|Afghanistan,2.0,Urban population,4106.0,1972.0,1434.00,E,NaN,NaN
15,AFG|Afghanistan,2.0,Urban population,4106.0,1977.0,1888.00,E,NaN,NaN
16,AFG|Afghanistan,2.0,Urban population,4106.0,1982.0,2045.00,E,NaN,NaN
17,AFG|Afghanistan,2.0,Urban population,4106.0,1987.0,1935.00,E,NaN,NaN
18,AFG|Afghanistan,2.0,Urban population,4106.0,1992.0,2608.00,E,NaN,NaN
19,AFG|Afghanistan,2.0,Urban population,4106.0,1997.0,3872.00,E,NaN,NaN
20,AFG|Afghanistan,2.0,Urban population,4106.0,2002.0,4866.00,E,NaN,NaN
21,AFG|Afghanistan,2.0,Urban population,4106.0,2007.0,6215.00,E,NaN,NaN
22,AFG|Afghanistan,2.0,Urban population,4106.0,2012.0,7596.00,E,NaN,NaN
23,AFG|Afghanistan,2.0,Urban population,4106.0,2015.0,8547.00,E,NaN,NaN
24,AFG|Afghanistan,2.0,Population density,4107.0,1962.0,14.31,E,NaN,NaN
25,AFG|Afghanistan,2.0,Population density,4107.0,1967.0,15.88,E,NaN,NaN
26,AFG|Afghanistan,2.0,Population density,4107.0,1972.0,17.95,E,NaN,NaN
27,AFG|Afghanistan,2.0,Population density,4107.0,1977.0,20.00,E,NaN,NaN
28,AFG|Afghanistan,2.0,Population density,4107.0,1982.0,19.40,E,NaN,NaN
29,AFG|Afghanistan,2.0,Population density,4107.0,1987.0,17.37,E,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9975,ZWE|Zimbabwe,181.0,Population density,4107.0,2012.0,37.27,E,NaN,NaN
9976,ZWE|Zimbabwe,181.0,Population density,4107.0,2015.0,39.93,E,NaN,NaN
9977,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,1992.0,79.60,E,NaN,NaN
9978,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,1997.0,79.50,E,NaN,NaN
9979,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2002.0,79.40,E,NaN,NaN
9980,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2007.0,78.40,E,NaN,NaN
9981,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2012.0,77.50,E,NaN,NaN
9982,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2015.0,76.90,E,NaN,NaN
9983,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,1992.0,70.90,E,NaN,NaN
9984,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,1997.0,70.10,E,NaN,NaN
9985,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2002.0,69.30,E,NaN,NaN
9986,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2007.0,68.50,E,NaN,NaN
9987,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2012.0,67.80,E,NaN,NaN
9988,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2015.0,67.30,E,NaN,NaN
9989,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,1992.0,99.40,E,NaN,NaN
9990,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,1997.0,98.90,E,NaN,NaN
9991,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2002.0,98.40,E,NaN,NaN
9992,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2007.0,97.80,E,NaN,NaN
9993,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2012.0,97.30,E,NaN,NaN
9994,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2015.0,97.00,E,NaN,NaN
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,Metadata:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,[1] [P-Components-N] | Malaria : 80.5 cases fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,E - External data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,I - AQUASTAT estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10000,K - Aggregate data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,L - Modelled data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,(c) FAO of the UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,The information contained in AQUASTAT is provi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,FAO. 2016. AQUASTAT Main Database - Food and A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
H2O_stat_df.columns = [ 'A','Variable','VI','Year','Value','unit','na','na']
# list(H2O_stat_df)

In [35]:
H2O_stat_df.reset_index()

,index,A,Variable,VI,Year,Value,unit,na,na
0,AFG|Afghanistan,2.0,Total population,4104.0,1962.0,9344.00,E,NaN,NaN
1,AFG|Afghanistan,2.0,Total population,4104.0,1967.0,10369.00,E,NaN,NaN
2,AFG|Afghanistan,2.0,Total population,4104.0,1972.0,11717.00,E,NaN,NaN
3,AFG|Afghanistan,2.0,Total population,4104.0,1977.0,13056.00,E,NaN,NaN
4,AFG|Afghanistan,2.0,Total population,4104.0,1982.0,12667.00,E,NaN,NaN
5,AFG|Afghanistan,2.0,Total population,4104.0,1987.0,11338.00,E,NaN,NaN
6,AFG|Afghanistan,2.0,Total population,4104.0,1992.0,13746.00,E,NaN,NaN
7,AFG|Afghanistan,2.0,Total population,4104.0,1997.0,18034.00,E,NaN,NaN
8,AFG|Afghanistan,2.0,Total population,4104.0,2002.0,21487.00,E,NaN,NaN
9,AFG|Afghanistan,2.0,Total population,4104.0,2007.0,25878.00,E,NaN,NaN
10,AFG|Afghanistan,2.0,Total population,4104.0,2012.0,29727.00,E,NaN,NaN
11,AFG|Afghanistan,2.0,Total population,4104.0,2015.0,32527.00,E,NaN,NaN
12,AFG|Afghanistan,2.0,Urban population,4106.0,1962.0,804.90,E,NaN,NaN
13,AFG|Afghanistan,2.0,Urban population,4106.0,1967.0,1066.00,E,NaN,NaN
14,AFG|Afghanistan,2.0,Urban population,4106.0,1972.0,1434.00,E,NaN,NaN
15,AFG|Afghanistan,2.0,Urban population,4106.0,1977.0,1888.00,E,NaN,NaN
16,AFG|Afghanistan,2.0,Urban population,4106.0,1982.0,2045.00,E,NaN,NaN
17,AFG|Afghanistan,2.0,Urban population,4106.0,1987.0,1935.00,E,NaN,NaN
18,AFG|Afghanistan,2.0,Urban population,4106.0,1992.0,2608.00,E,NaN,NaN
19,AFG|Afghanistan,2.0,Urban population,4106.0,1997.0,3872.00,E,NaN,NaN
20,AFG|Afghanistan,2.0,Urban population,4106.0,2002.0,4866.00,E,NaN,NaN
21,AFG|Afghanistan,2.0,Urban population,4106.0,2007.0,6215.00,E,NaN,NaN
22,AFG|Afghanistan,2.0,Urban population,4106.0,2012.0,7596.00,E,NaN,NaN
23,AFG|Afghanistan,2.0,Urban population,4106.0,2015.0,8547.00,E,NaN,NaN
24,AFG|Afghanistan,2.0,Population density,4107.0,1962.0,14.31,E,NaN,NaN
25,AFG|Afghanistan,2.0,Population density,4107.0,1967.0,15.88,E,NaN,NaN
26,AFG|Afghanistan,2.0,Population density,4107.0,1972.0,17.95,E,NaN,NaN
27,AFG|Afghanistan,2.0,Population density,4107.0,1977.0,20.00,E,NaN,NaN
28,AFG|Afghanistan,2.0,Population density,4107.0,1982.0,19.40,E,NaN,NaN
29,AFG|Afghanistan,2.0,Population density,4107.0,1987.0,17.37,E,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9975,ZWE|Zimbabwe,181.0,Population density,4107.0,2012.0,37.27,E,NaN,NaN
9976,ZWE|Zimbabwe,181.0,Population density,4107.0,2015.0,39.93,E,NaN,NaN
9977,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,1992.0,79.60,E,NaN,NaN
9978,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,1997.0,79.50,E,NaN,NaN
9979,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2002.0,79.40,E,NaN,NaN
9980,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2007.0,78.40,E,NaN,NaN
9981,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2012.0,77.50,E,NaN,NaN
9982,ZWE|Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2015.0,76.90,E,NaN,NaN
9983,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,1992.0,70.90,E,NaN,NaN
9984,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,1997.0,70.10,E,NaN,NaN
9985,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2002.0,69.30,E,NaN,NaN
9986,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2007.0,68.50,E,NaN,NaN
9987,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2012.0,67.80,E,NaN,NaN
9988,ZWE|Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2015.0,67.30,E,NaN,NaN
9989,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,1992.0,99.40,E,NaN,NaN
9990,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,1997.0,98.90,E,NaN,NaN
9991,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2002.0,98.40,E,NaN,NaN
9992,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2007.0,97.80,E,NaN,NaN
9993,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2012.0,97.30,E,NaN,NaN
9994,ZWE|Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2015.0,97.00,E,NaN,NaN
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,Metadata:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,[1] [P-Components-N] | Malaria : 80.5 cases fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,E - External data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,I - AQUASTAT estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10000,K - Aggregate data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,L - Modelled data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,(c) FAO of the UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,The information contained in AQUASTAT is provi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,FAO. 2016. AQUASTAT Main Database - Food and A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# H2O_stat_df=H2O_stat_df.rename(columns={'index':'Country'})

In [43]:
Water_STAT=H2O_stat_df.reset_index()

In [44]:
Water_STAT.head()

,index,A,Variable,VI,Year,Value,unit,na,na
0,AFG|Afghanistan,2.0,Total population,4104.0,1962.0,9344.0,E,NaN,NaN
1,AFG|Afghanistan,2.0,Total population,4104.0,1967.0,10369.0,E,NaN,NaN
2,AFG|Afghanistan,2.0,Total population,4104.0,1972.0,11717.0,E,NaN,NaN
3,AFG|Afghanistan,2.0,Total population,4104.0,1977.0,13056.0,E,NaN,NaN
4,AFG|Afghanistan,2.0,Total population,4104.0,1982.0,12667.0,E,NaN,NaN

In [67]:
W_stat_df=Water_STAT.rename(columns={'index':'Country'})

In [46]:
Water_stat_df.head()

,Country,A,Variable,VI,Year,Value,unit,na,na
0,AFG|Afghanistan,2.0,Total population,4104.0,1962.0,9344.0,E,NaN,NaN
1,AFG|Afghanistan,2.0,Total population,4104.0,1967.0,10369.0,E,NaN,NaN
2,AFG|Afghanistan,2.0,Total population,4104.0,1972.0,11717.0,E,NaN,NaN
3,AFG|Afghanistan,2.0,Total population,4104.0,1977.0,13056.0,E,NaN,NaN
4,AFG|Afghanistan,2.0,Total population,4104.0,1982.0,12667.0,E,NaN,NaN

In [84]:
aquastat=W_stat_df.drop(columns=['A','VI','na','na'])

In [76]:
W_stat_df=W_stat_df.drop(W_stat_df.index[9995:10005])

In [56]:
Water_stat_df.dtypes

Country      object
A           float64
Variable     object
VI          float64
Year        float64
Value       float64
unit         object
na           object
na          float64
dtype: object

In [70]:
W_stat_df['iso']=W_stat_df['Country']

In [71]:
W_stat_df['iso']=W_stat_df['iso'].str[:3]

In [66]:
Water_stat_df

,Country,A,Variable,VI,Year,Value,unit,na,na,iso
0,Afghanis,2.0,Total population,4104.0,1962.0,9344.00,E,NaN,NaN,AFG
1,Afghanis,2.0,Total population,4104.0,1967.0,10369.00,E,NaN,NaN,AFG
2,Afghanis,2.0,Total population,4104.0,1972.0,11717.00,E,NaN,NaN,AFG
3,Afghanis,2.0,Total population,4104.0,1977.0,13056.00,E,NaN,NaN,AFG
4,Afghanis,2.0,Total population,4104.0,1982.0,12667.00,E,NaN,NaN,AFG
5,Afghanis,2.0,Total population,4104.0,1987.0,11338.00,E,NaN,NaN,AFG
6,Afghanis,2.0,Total population,4104.0,1992.0,13746.00,E,NaN,NaN,AFG
7,Afghanis,2.0,Total population,4104.0,1997.0,18034.00,E,NaN,NaN,AFG
8,Afghanis,2.0,Total population,4104.0,2002.0,21487.00,E,NaN,NaN,AFG
9,Afghanis,2.0,Total population,4104.0,2007.0,25878.00,E,NaN,NaN,AFG
10,Afghanis,2.0,Total population,4104.0,2012.0,29727.00,E,NaN,NaN,AFG
11,Afghanis,2.0,Total population,4104.0,2015.0,32527.00,E,NaN,NaN,AFG
12,Afghanis,2.0,Urban population,4106.0,1962.0,804.90,E,NaN,NaN,AFG
13,Afghanis,2.0,Urban population,4106.0,1967.0,1066.00,E,NaN,NaN,AFG
14,Afghanis,2.0,Urban population,4106.0,1972.0,1434.00,E,NaN,NaN,AFG
15,Afghanis,2.0,Urban population,4106.0,1977.0,1888.00,E,NaN,NaN,AFG
16,Afghanis,2.0,Urban population,4106.0,1982.0,2045.00,E,NaN,NaN,AFG
17,Afghanis,2.0,Urban population,4106.0,1987.0,1935.00,E,NaN,NaN,AFG
18,Afghanis,2.0,Urban population,4106.0,1992.0,2608.00,E,NaN,NaN,AFG
19,Afghanis,2.0,Urban population,4106.0,1997.0,3872.00,E,NaN,NaN,AFG
20,Afghanis,2.0,Urban population,4106.0,2002.0,4866.00,E,NaN,NaN,AFG
21,Afghanis,2.0,Urban population,4106.0,2007.0,6215.00,E,NaN,NaN,AFG
22,Afghanis,2.0,Urban population,4106.0,2012.0,7596.00,E,NaN,NaN,AFG
23,Afghanis,2.0,Urban population,4106.0,2015.0,8547.00,E,NaN,NaN,AFG
24,Afghanis,2.0,Population density,4107.0,1962.0,14.31,E,NaN,NaN,AFG
25,Afghanis,2.0,Population density,4107.0,1967.0,15.88,E,NaN,NaN,AFG
26,Afghanis,2.0,Population density,4107.0,1972.0,17.95,E,NaN,NaN,AFG
27,Afghanis,2.0,Population density,4107.0,1977.0,20.00,E,NaN,NaN,AFG
28,Afghanis,2.0,Population density,4107.0,1982.0,19.40,E,NaN,NaN,AFG
29,Afghanis,2.0,Population density,4107.0,1987.0,17.37,E,NaN,NaN,AFG
...,...,...,...,...,...,...,...,...,...,...
9965,Zimba,181.0,Population density,4107.0,1962.0,10.25,E,NaN,NaN,ZWE
9966,Zimba,181.0,Population density,4107.0,1967.0,12.08,E,NaN,NaN,ZWE
9967,Zimba,181.0,Population density,4107.0,1972.0,14.26,E,NaN,NaN,ZWE
9968,Zimba,181.0,Population density,4107.0,1977.0,16.84,E,NaN,NaN,ZWE
9969,Zimba,181.0,Population density,4107.0,1982.0,20.16,E,NaN,NaN,ZWE
9970,Zimba,181.0,Population density,4107.0,1987.0,24.40,E,NaN,NaN,ZWE
9971,Zimba,181.0,Population density,4107.0,1992.0,28.20,E,NaN,NaN,ZWE
9972,Zimba,181.0,Population density,4107.0,1997.0,30.86,E,NaN,NaN,ZWE
9973,Zimba,181.0,Population density,4107.0,2002.0,32.48,E,NaN,NaN,ZWE
9974,Zimba,181.0,Population density,4107.0,2007.0,34.03,E,NaN,NaN,ZWE
9975,Zimba,181.0,Population density,4107.0,2012.0,37.27,E,NaN,NaN,ZWE
9976,Zimba,181.0,Population density,4107.0,2015.0,39.93,E,NaN,NaN,ZWE
9977,Zimba,181.0,Total population with access to safe drinking-...,4114.0,1992.0,79.60,E,NaN,NaN,ZWE
9978,Zimba,181.0,Total population with access to safe drinking-...,4114.0,1997.0,79.50,E,NaN,NaN,ZWE
9979,Zimba,181.0,Total population with access to safe drinking-...,4114.0,2002.0,79.40,E,NaN,NaN,ZWE
9980,Zimba,181.0,Total population with access to safe drinking-...,4114.0,2007.0,78.40,E,NaN,NaN,ZWE
9981,Zimba,181.0,Total population with access to safe drinking-...,4114.0,2012.0,77.50,E,NaN,NaN,ZWE
9982,Zimba,181.0,Total population with access to safe drinking-...,4114.0,2015.0,76.90,E,NaN,NaN,ZWE
9983,Zimba,181.0,Rural population with access to safe drinking-...,4115.0,1992.0,70.90,E,NaN,NaN,ZWE
9984,Zimba,181.0,Rural population with access to safe drinking-...,4115.0,1997.0,70.10,E,NaN,NaN,ZWE
9985,Zimba,181.0,Rural population with access to safe drinking-...,4115.0,2002.0,69.30,E,NaN,NaN,ZWE
9986,Zimba,181.0,Rural population with access to safe drinking-...,4115.0,2007.0,68.50,E,NaN,NaN,ZWE
9987,Zimba,181.0,Rural population with access to safe drinking-...,4115.0,2012.0,67.80,E,NaN,NaN,ZWE
9988,Zimba,181.0,Rural population with access to safe drinking-...,4115.0,2015.0,67.30,E,NaN,NaN,ZWE
9989,Zimba,181.0,Urban population with access to safe drinking-...,4116.0,1992.0,99.40,E,NaN,NaN,ZWE
9990,Zimba,181.0,Urban population with access to safe drinking-...,4116.0,1997.0,98.90,E,NaN,NaN,ZWE
9991,Zimba,181.0,Urban population with access to safe drinking-...,4116.0,2002.0,98.40,E,NaN,NaN,ZWE
9992,Zimba,181.0,Urban population with access to safe drinking-...,4116.0,2007.0,97.80,E,NaN,NaN,ZWE
9993,Zimba,181.0,Urban population with access to safe drinking-...,4116.0,2012.0,97.30,E,NaN,NaN,ZWE
9994,Zimba,181.0,Urban population with access to safe drinking-...,4116.0,2015.0,97.00,E,NaN,NaN,ZWE

In [72]:
W_stat_df['Country']=W_stat_df['Country'].str[4:]

In [80]:
water_df=W_stat_df

In [81]:
water_df.Year=water_df.Year.astype(int)

In [82]:
water_df

,Country,A,Variable,VI,Year,Value,unit,na,na,iso
0,Afghanistan,2.0,Total population,4104.0,1962,9344.00,E,NaN,NaN,AFG
1,Afghanistan,2.0,Total population,4104.0,1967,10369.00,E,NaN,NaN,AFG
2,Afghanistan,2.0,Total population,4104.0,1972,11717.00,E,NaN,NaN,AFG
3,Afghanistan,2.0,Total population,4104.0,1977,13056.00,E,NaN,NaN,AFG
4,Afghanistan,2.0,Total population,4104.0,1982,12667.00,E,NaN,NaN,AFG
5,Afghanistan,2.0,Total population,4104.0,1987,11338.00,E,NaN,NaN,AFG
6,Afghanistan,2.0,Total population,4104.0,1992,13746.00,E,NaN,NaN,AFG
7,Afghanistan,2.0,Total population,4104.0,1997,18034.00,E,NaN,NaN,AFG
8,Afghanistan,2.0,Total population,4104.0,2002,21487.00,E,NaN,NaN,AFG
9,Afghanistan,2.0,Total population,4104.0,2007,25878.00,E,NaN,NaN,AFG
10,Afghanistan,2.0,Total population,4104.0,2012,29727.00,E,NaN,NaN,AFG
11,Afghanistan,2.0,Total population,4104.0,2015,32527.00,E,NaN,NaN,AFG
12,Afghanistan,2.0,Urban population,4106.0,1962,804.90,E,NaN,NaN,AFG
13,Afghanistan,2.0,Urban population,4106.0,1967,1066.00,E,NaN,NaN,AFG
14,Afghanistan,2.0,Urban population,4106.0,1972,1434.00,E,NaN,NaN,AFG
15,Afghanistan,2.0,Urban population,4106.0,1977,1888.00,E,NaN,NaN,AFG
16,Afghanistan,2.0,Urban population,4106.0,1982,2045.00,E,NaN,NaN,AFG
17,Afghanistan,2.0,Urban population,4106.0,1987,1935.00,E,NaN,NaN,AFG
18,Afghanistan,2.0,Urban population,4106.0,1992,2608.00,E,NaN,NaN,AFG
19,Afghanistan,2.0,Urban population,4106.0,1997,3872.00,E,NaN,NaN,AFG
20,Afghanistan,2.0,Urban population,4106.0,2002,4866.00,E,NaN,NaN,AFG
21,Afghanistan,2.0,Urban population,4106.0,2007,6215.00,E,NaN,NaN,AFG
22,Afghanistan,2.0,Urban population,4106.0,2012,7596.00,E,NaN,NaN,AFG
23,Afghanistan,2.0,Urban population,4106.0,2015,8547.00,E,NaN,NaN,AFG
24,Afghanistan,2.0,Population density,4107.0,1962,14.31,E,NaN,NaN,AFG
25,Afghanistan,2.0,Population density,4107.0,1967,15.88,E,NaN,NaN,AFG
26,Afghanistan,2.0,Population density,4107.0,1972,17.95,E,NaN,NaN,AFG
27,Afghanistan,2.0,Population density,4107.0,1977,20.00,E,NaN,NaN,AFG
28,Afghanistan,2.0,Population density,4107.0,1982,19.40,E,NaN,NaN,AFG
29,Afghanistan,2.0,Population density,4107.0,1987,17.37,E,NaN,NaN,AFG
...,...,...,...,...,...,...,...,...,...,...
9965,Zimbabwe,181.0,Population density,4107.0,1962,10.25,E,NaN,NaN,ZWE
9966,Zimbabwe,181.0,Population density,4107.0,1967,12.08,E,NaN,NaN,ZWE
9967,Zimbabwe,181.0,Population density,4107.0,1972,14.26,E,NaN,NaN,ZWE
9968,Zimbabwe,181.0,Population density,4107.0,1977,16.84,E,NaN,NaN,ZWE
9969,Zimbabwe,181.0,Population density,4107.0,1982,20.16,E,NaN,NaN,ZWE
9970,Zimbabwe,181.0,Population density,4107.0,1987,24.40,E,NaN,NaN,ZWE
9971,Zimbabwe,181.0,Population density,4107.0,1992,28.20,E,NaN,NaN,ZWE
9972,Zimbabwe,181.0,Population density,4107.0,1997,30.86,E,NaN,NaN,ZWE
9973,Zimbabwe,181.0,Population density,4107.0,2002,32.48,E,NaN,NaN,ZWE
9974,Zimbabwe,181.0,Population density,4107.0,2007,34.03,E,NaN,NaN,ZWE
9975,Zimbabwe,181.0,Population density,4107.0,2012,37.27,E,NaN,NaN,ZWE
9976,Zimbabwe,181.0,Population density,4107.0,2015,39.93,E,NaN,NaN,ZWE
9977,Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,1992,79.60,E,NaN,NaN,ZWE
9978,Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,1997,79.50,E,NaN,NaN,ZWE
9979,Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2002,79.40,E,NaN,NaN,ZWE
9980,Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2007,78.40,E,NaN,NaN,ZWE
9981,Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2012,77.50,E,NaN,NaN,ZWE
9982,Zimbabwe,181.0,Total population with access to safe drinking-...,4114.0,2015,76.90,E,NaN,NaN,ZWE
9983,Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,1992,70.90,E,NaN,NaN,ZWE
9984,Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,1997,70.10,E,NaN,NaN,ZWE
9985,Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2002,69.30,E,NaN,NaN,ZWE
9986,Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2007,68.50,E,NaN,NaN,ZWE
9987,Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2012,67.80,E,NaN,NaN,ZWE
9988,Zimbabwe,181.0,Rural population with access to safe drinking-...,4115.0,2015,67.30,E,NaN,NaN,ZWE
9989,Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,1992,99.40,E,NaN,NaN,ZWE
9990,Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,1997,98.90,E,NaN,NaN,ZWE
9991,Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2002,98.40,E,NaN,NaN,ZWE
9992,Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2007,97.80,E,NaN,NaN,ZWE
9993,Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2012,97.30,E,NaN,NaN,ZWE
9994,Zimbabwe,181.0,Urban population with access to safe drinking-...,4116.0,2015,97.00,E,NaN,NaN,ZWE

In [86]:
aquastat.head()

       Country          Variable  Year    Value unit  iso
0  Afghanistan  Total population  1962   9344.0    E  AFG
1  Afghanistan  Total population  1967  10369.0    E  AFG
2  Afghanistan  Total population  1972  11717.0    E  AFG
3  Afghanistan  Total population  1977  13056.0    E  AFG
4  Afghanistan  Total population  1982  12667.0    E  AFG

In [113]:
WQI

     iso                   country  H2O.current
0    AFG               Afghanistan        25.75
1    ALB                   Albania        66.56
2    DZA                   Algeria        60.26
3    AGO                    Angola         9.20
4    ATG       Antigua and Barbuda        53.33
5    ARG                 Argentina        73.07
6    ARM                   Armenia        61.94
7    AUS                 Australia        98.44
8    AUT                   Austria        94.63
9    AZE                Azerbaijan        48.53
10   BHS                   Bahamas        55.40
11   BHR                   Bahrain        63.06
12   BGD                Bangladesh        28.47
13   BRB                  Barbados        55.64
14   BLR                   Belarus        68.66
15   BEL                   Belgium        96.09
16   BLZ                    Belize        46.74
17   BEN                     Benin         6.37
18   BTN                    Bhutan        32.60
19   BOL                   Bolivia        44.57
20   BIH    Bosnia and Herzegovina        71.54
21   BWA                  Botswana        21.80
22   BRA                    Brazil        45.91
23   BRN         Brunei Darussalam        94.90
24   BGR                  Bulgaria        71.26
25   BFA              Burkina Faso         8.45
26   BDI                   Burundi         0.86
27   KHM                  Cambodia        35.26
28   CMR                  Cameroon        13.45
29   CAN                    Canada        94.69
..   ...                       ...          ...
150  ESP                     Spain       100.00
151  LKA                 Sri Lanka        53.09
152  SDN                     Sudan        24.46
153  SUR                  Suriname        40.14
154  SWZ                 Swaziland         9.36
155  SWE                    Sweden        96.88
156  CHE               Switzerland        99.99
157  TWN                    Taiwan        69.71
158  TJK                Tajikistan        29.90
159  TZA                  Tanzania        11.80
160  THA                  Thailand        59.37
161  TLS               Timor-Leste        22.86
162  TGO                      Togo        12.92
163  TON                     Tonga        46.97
164  TTO       Trinidad and Tobago        56.29
165  TUN                   Tunisia        57.60
166  TUR                    Turkey        59.28
167  TKM              Turkmenistan        45.96
168  UGA                    Uganda        13.10
169  UKR                   Ukraine        60.89
170  ARE      United Arab Emirates        63.27
171  GBR            United Kingdom       100.00
172  USA  United States of America        90.92
173  URY                   Uruguay        83.37
174  UZB                Uzbekistan        64.12
175  VUT                   Vanuatu        28.73
176  VEN                 Venezuela        50.39
177  VNM                  Viet Nam        53.92
178  ZMB                    Zambia         9.08
179  ZWE                  Zimbabwe        12.19

[180 rows x 3 columns]

In [129]:
WQI.to_sql('WQITable',con=engine, if_exists='append')

In [130]:
aquastat.to_sql('AquastatTable',con=engine, if_exists='append')

In [131]:

from sqlalchemy import inspect
inspector = inspect(engine)

In [132]:
for table_name in inspector.get_table_names():
   for column in inspector.get_columns(table_name):
       print("Column: %s" % column['name'])

Column: index
Column: Country
Column: Variable
Column: Year
Column: Value
Column: unit
Column: iso
Column: index
Column: iso
Column: country
Column: H2O.current

In [133]:
from sqlalchemy import MetaData
m = MetaData()
m.reflect(engine)
for table in m.tables.values():
    print(table.name)
    for column in table.c:
        print(column.name)

AquastatTable
index
Country
Variable
Year
Value
unit
iso
WQITable
index
iso
country
H2O.current